@import 'variables';

body {
  width: 1063px;
}

main {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 438px;
}

nav {
  // Example of using a variable:
  background-color: $secondary-accent-color;
}

.dog-icon {
  width: 50px;
}